# PostgreSQL
POSTGRES_DB=retailpulse
POSTGRES_USER=
POSTGRES_PASSWORD=

# MinIO
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# MinIO Bucket
MINIO_BUCKET=retailpulse

# Ports
POSTGRES_PORT=5432
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
