.env

__pycache__/

*.pyc

.vscode/

.idea/

.DS_Store

node_modules/

postgres_data/

minio_data/

logs/

*.log

venv/
.venv/
**/.venv/
**/venv/

# Jupyter
.ipynb_checkpoints

data/raw/*
data/favorita/*.csv


# Logs
**/logs/
*.log

# parquet files
tmp/

#state json files
**/state/*.json