annotated-types==0.8.0
loguru==0.7.3
py4j==0.10.9.9
pydantic==2.13.4
pydantic-settings==2.15.0
pydantic_core==2.46.4
pyspark==4.2.0
python-dotenv==1.2.2
typing-inspection==0.4.2
typing_extensions==4.16.0
