# ==========================
# Data Generator
# ==========================

DATA_BATCH_SIZE=500
DATA_BATCH_INTERVAL=5

# ==========================
# Dataset
# ==========================

TRAIN_DATASET_PATH=/data/favorita/train.csv

# ==========================
# State
# ==========================

STATE_FILE=/state/data-generator-state.json

# ==========================
# Logging
# ==========================
# can change for DEBUG if needed
LOG_LEVEL=INFO

# ==========================
# MinIO
# ==========================

MINIO_ENDPOINT=minio:9000
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_SECURE=

# ==========================
# Raw Zone
# ==========================

RAW_SALES_PREFIX=raw/sales