# ==========================
# Data Generator
# ==========================

DATA_BATCH_SIZE=50000
DATA_BATCH_INTERVAL=2

# ==========================
# Dataset
# ==========================

TRAIN_DATASET_PATH=../../data/favorita/train.csv

# ==========================
# State
# ==========================

STATE_FILE=state/data-generator-state.json

# ==========================
# Logging
# ==========================

LOG_LEVEL=INFO

# Local
STATE_FILE=state/data-generator-state.json
TMP_DIRECTORY=tmp


# ==========================
# MinIO
# ==========================

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET=retailpulse-dev
MINIO_SECURE=False

# ==========================
# Raw Zone
# ==========================

# Object Naming
RAW_SALES_PREFIX=raw/sales

STORES_DATASET_PATH=../../data/favorita/stores.csv

RAW_STORES_PREFIX=raw/stores